<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sidmutha.rereminder">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/rereminder"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name="com.sidmutha.rereminder.alarm.AlarmReceiver" />
        <activity
            android:name=".activities.ReminderListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ReminderEditActivity"
            android:label="@string/title_activity_reminder_edit"/>
        <activity
            android:name=".activities.DateTimePickerActivity"
            android:label="@string/title_activity_date_time_picker"/>
        <!--<activity
            android:name=".activities.ReminderListActivity"
            android:label="@string/title_activity_reminder_list"/>-->
    </application>

</manifest>
